.app {
  margin: 0 auto;
  max-width: 700px;
}

.header {
  text-align: center;
  margin: 20px 0 10px 0;
}

.hero {
  display: flex;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 150px;
  gap: 20px;
  box-shadow: 5px 5px 5px 5px #d0d0d0;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form p {
  all: unset;
  padding-bottom: 10px;
}

.form__img {
  border-radius: 10px;
  flex-grow: 1;
}

.form__field {
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.form__field--label {
  font-size: 12px;
  flex-grow: 1;
  flex-basis: 10%;
}

.form__field--input {
  flex-grow: 2;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 3px;
}

.form__btn {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  color: white;
  background-color: rgb(87, 192, 87);
}

.form__btn:hover {
  background-color: rgb(7, 84, 7);
  cursor: pointer;
}

.card {
  margin: 0 auto 10px auto;
  display: flex;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  gap: 5px;
  max-width: 80%;
  box-shadow: 2px 2px 2px 2px #d0d0d0;
}

.card__item {
  padding: 10px;
  flex: 1;
}

.card__button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(230, 38, 38);
}

.card__button:hover {
  background-color: rgb(136, 12, 12);
  cursor: pointer;
}